html, #root{
  font-size: 35px;
  background-color:peru;
}

.fcc{  
  border: 3px solid black;
  background-color: blanchedalmond;
}

/* .js{
  background-color: bisque;
} */

.pad{  
  font-family: 'VT323', monospace;
  /* font-size: 40px; */
  border: 3px solid black;  
}

.btn{
  padding: 3px;
}
#display{
  height: 3rem;
  border: 5px solid black;
  font-family: 'Orbitron', sans-serif;
  background-color: #FFBF00;
}

.container{
  border: 3px solid black;  
}

.pad:hover{
  background-color: yellow;
}
